<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<div>
    <th:block th:each="car : ${cars}">
        <h4>ID:<br th:text="${car.getId()}"></br></h4>
        <h4>MODEL:<br th:text="${car.getModel()}"></br></h4>
        <h4>SERIES:<br th:text="${car.getSeries()}"></br></h4>
        <h4>ISSUE AGE:<br th:text="${car.getIssueAge()}"></br></h4>
    </th:block>
</div>

</body>
</html>